.afisha-guest-band {
  margin-top: 50px;

  img {
    min-height: 100%;
    min-width: 100%;
  }
  a {
    color: color('white');
  }
}

.afisha-guest-band__row {
  display: flex;
  height: 300px;
  overflow: hidden;
  margin: 20px 0 0 -1px;
}

.afisha-guest-band__row + .afisha-guest-band__row {
  margin-top: 1px;
}

.afisha-guest-band__middle {
  margin-left: 1px;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.afisha-guest-band__middle-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(rgba(0,0,0,0), #000);
}

.afisha-guest-band__middle-description {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 20px;
  width: 100%;

  @include font('22px bold');
  color: color('white');
}

.afisha-guest-band__small {
  margin-left: 1px;
  flex: 1;
  overflow: hidden;
}

.afisha-guest-band__title {
  margin-left: 1px;
  flex: 2;
  background-color: color('red');
  display: flex;
  align-items: center;
  @include font('66px bold');
  box-sizing: border-box;
  color: color('white');
}

.afisha-guest-band__title-padding {
  margin-left: 60px;
}
