<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <add name="SSI-2" path="*.shtml" verb="*" modules="ServerSideIncludeModule" resourceType="Unspecified" />
	</handlers>
        <caching enabled="true" enableKernelCache="true">
            <profiles>
                <add extension=".css" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".woff" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".png" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".html" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".shtml" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
