.main-events__row-middle {
  background-color: color('ededed');
  height: 430px;
  width: 648px;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  a {
    text-decoration: none;
    color: inherit;
  }
  position: relative;
}

.main-events__row-middle-image {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 0;
}

.main-events__row-middle-image-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: linear-gradient(rgba(0,0,0,0), #000);
}
