.main-events__row-small {
  background-color: color('ededed');
  height: 430px;
  width: 320px;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.main-events__row-small-image {
  font-size: 0;
}
