.afisha-all-events {
  margin-top: 50px;

  img {
    min-height: 100%;
    min-width: 100%;
  }
  a {
    text-decoration: none;
  }
}

.afisha-all-events__row {
  display: flex;
  height: 300px;
  overflow: hidden;
  margin: 1px 0 0 -1px;
}

.afisha-all-events__middle {
  margin-left: 1px;
  flex: 2;
  overflow: hidden;
  position: relative;
}

.afisha-all-events__middle-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(rgba(0,0,0,0), #000);
}

.afisha-all-events__middle-description {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 20px;
  width: 100%;

  @include font('22px bold');
  color: color('white');
}

.afisha-all-events__small {
  margin-left: 1px;
  flex: 1;
  overflow: hidden;
}

.afisha-all-events__title {
  margin-left: 1px;
  flex: 3;
  background-color: color('red');
  display: flex;
  align-items: center;
  @include font('66px bold');
  box-sizing: border-box;
}

.afisha-all-events__title-padding {
  margin-left: 60px;
}

.afisha-all-events__title-white {
  color: color('white');
}
