.event-box-description {
  padding-bottom: 20px;
  position: relative;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.event-box-description_black-22 {
  color: color('black');
  @include font('22px bold');
}

.event-box-description__spacer {
  flex: 1;
}

.event-box-description__title {
  padding: 20px 30px 0;
}

.event-box-description__place {
  margin: 20px 30px 0 60px;
  text-transform: uppercase;
  @include font('14px bold');
  display: flex;
  align-items: center;
}

.event-box-description__place-icon {
  margin-left: -30px;
  flex: 0 0 30px;
  // width: 40px;
  font-size: 0;
  display: inline-block;
  align-self: flex-start;
  svg {
    height: 20px;
    width: 20px;
  }
}

.event-box-description__date {
  margin: 20px 30px 0;
  text-transform: uppercase;
  @include font('14px bold');
  display: flex;
  align-items: center;
}

.event-box-description__date-icon {
  margin-right: 10px;
  font-size: 0;
  display: inline-block;
  svg {
    height: 20px;
    width: 20px;
  }
}
