.main-box-small {
  background-color: color('ededed');
  height: 430px;
  width: 320px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

.main-box-small__image {
  font-size: 0;
}
