.main-box-middle {
  background-color: color('ededed');
  height: 430px;
  width: 648px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  position: relative;

  color: color('white');
  @include font('36px bold');
}

.main-box-middle__image {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 0;
}

.main-box-middle__image-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: linear-gradient(rgba(0,0,0,0), #000);
}
