@import 'main-news__row-small';
@import 'main-news__row-vertical';

.main-news {
  margin-top: 50px;
}

.main-news__row {
  display: flex;
  margin-top: 20px;
}

.main-news__row-item + .main-news__row-item {
  margin-left: 20px;
}

.main-news__row-tags, .main-news__row-date {
  margin: 10px 30px 0;
  text-transform: uppercase;
  @include font('14px bold');
}

.main-news__row-icon {
  margin-right: 10px;
  font-size: 0;
}

.main-news__row-spacer {
  flex: 1 1 auto;
}
