.afisha-event {
  margin-top: 50px;
}

.afisha-event__title {
  display: flex;
}

.afisha-event__title-calendar {
  border: 1px solid color('grayTextOnBlack');
  margin-right: 30px;
}

.afisha-event__title-description-time {
  display: flex;
  align-items: center;
  @include font('36px bold');
  > * {
    vertical-align: baseline;
  }
}

.afisha-event__title-description-time-icon {
  svg {
    height: 24px;
    width: 24px;
  }
}

.afisha-event__title-description-time-buttons {
  display: inline-flex;
  margin-left: 30px;
}

.afisha-event__title-text {
  @include font('44px bold');
}

.afisha-event__header {
  background-color: color('page-title');
  display: flex;
  margin-top: 30px;
}

.afisha-event__header-image {
  img {
    float: left;
  }
}

.afisha-event__header-data {
  @include font('18px');
  padding: 10px 20px;
}

.afisha-event__header-data-row {
  display: flex;
  margin-top: 10px;
}

.afisha-event__header-data-row-text {
  margin-left: 8px;
}

.afisha-event__header-data-row-text_bold {
  @include font('18px bold');
}

.afisha-event__header-data-row_tickets {
  margin-top: 20px;
  width: 160px;
}

.afisha-event__content {
  max-width: 850px;
  margin: 50px auto 0 auto;
  @include font('20px');
}

.afisha-event__tickets {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.afisha-event__tickets-link {
  width: 160px;
  margin-right: 20px;
}

.afisha-event__tickets-date {
  @include font('17px bold');
  text-transform: uppercase;
}

.afisha-event__title-description-time-icon {
  margin-right: 4px;
}
