.main-bands__row-item {
  background-color: color('ededed');
  height: 330px + 130px;
  width: 253px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.main-bands__row-item-image {
  font-size: 0;
  margin: 20px;
  img {
    border-radius: 120px;
  }
}

.main-bands__row-item-title {
  @include font('20px bold');
  text-align: center;
}

.main-bands__row-spacer {
  flex: 1;
}

.main-bands__row-bottom {
  background-color: color('black');
  color: color('white');
  padding: 20px;
}

.main-bands__row-place {
  display: block;
  margin: 20px 0 0 30px;
  text-transform: uppercase;
  @include font('14px bold');
}

.main-bands__row-date {
  margin-top: 20px;
  text-transform: uppercase;
  @include font('14px bold');
}

.main-bands__row-icon {
  margin-right: 10px;
  font-size: 0;
}

.main-bands__row-icon-place {
  margin-left: -30px;
}
