.page-title {
  background-color: color('page-title');
  padding: 40px 30px;
  display: flex;
  align-items: center;
}

.page-title__content {
  flex: 1;
}

.page-title__content-title {
  @include font('44px bold');

}

.page-title__content-title-red {
  color: color('red');
}

.page-title__banner {
  &:before {
    content: "Banner, 240x240";
    font-size: 32px;
    color: white;
  }
  align-self: flex-start;
  background-color: gray;
  height: 240px;
  width: 240px;
  margin-left: 30px;
}
