.header-menu {
  background-color: color('black');
  height: 40px;
  border-bottom: 1px solid color('grayLine');
  display: flex;
  justify-content: center;
}

.header-menu__item {
  padding: 0 12.5px;
  text-transform: uppercase;
  white-space: nowrap;
  @include font('18px bold');
  text-decoration: none;
  color: color('white');
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.header-menu__item_selected {
  position: relative;
  &:after {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    border-bottom: 3px solid color('red');
  }
}
