.main-calendar__days {
  display: flex;
  height: 150px;
  padding: 0 30px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.main-calendar__days-left-icon {
  position: absolute;
  left: -1px;
  top: 150px/2-30px/2;
}

.main-calendar__days-right-icon {
  position: absolute;
  right: 0px;
  top: 150px/2-30px/2;
}

.main-calendar__days-day + .main-calendar__days-day {
  margin-left: 18px;
}
