.header__title {
  padding-left: 40px;
  flex: 1 1 auto;
  z-index: 1;
}

.header__title-text {
  @include font('44px bold');
  text-decoration: none;
  color: color('white');
}

.header__title-city {
  @include font('18px');
  display: flex;
  align-items: center;
}

.header__title-city-icon {
  margin-right: 6px;
}

.header__title-city-select {
  margin-left: 4px;
}
