@import 'colors';
@import 'font';

@import 'header__lang';
@import 'header__logo';
@import 'header__title';

.header {
  background-color: color('black');
  height: 115px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid color('grayLine');
}
