.more-button {
  @include font('14px bold');
  text-transform: uppercase;
}

@mixin more-button__text-mixin {
  display: flex;
  align-items: center;
}

.more-button__text {
  @include more-button__text-mixin();
  color: color('black');
}

.more-button__text_white {
  @include more-button__text-mixin();
  color: color('white');
}

.more-button__text_red {
  color: color('red');
}

.more-button__text-icon {
  background-color: color('red');
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
