.main-event__description {
  padding: 0 60px 70px+20px;
  max-width: 850px;
  z-index: 1;
}

.main-event__description-link {
  text-decoration: none;
  color: color('white');
}

.main-event__description-title {
  @include font('66px bold');
}

.main-event__description-intro {
  @include font('18px');
  line-height: 1.5em;
}

.main-event__description-place {
  @include font('14px bold');
  text-transform: uppercase;
  padding-top: 20px;
}

.main-event__description-place-icon {
  padding-right: 10px;
}

.main-event__description-date {
  @include font('14px bold');
  text-transform: uppercase;
  padding-top: 10px;
}

.main-event__description-date-icon {
  padding-right: 10px;
}
