@function color($type) {
  $colors: (
    'white': #ffffff,
    'black': #000,
    '666666': #666666,
    'grayLine': #666666,
    'grayInactive': #333333,
    'grayTextOnBlack': #808080,
    'red': #c7342a,
    'ededed': #ededed,
    '333333': #333333,
    '4d4d4d': #4d4d4d,
  );

  @if not map-has-key($colors, $type) {
    @error $type; // Color doesn't exists
  }

  @return map-get($colors, $type);
}

