@mixin font($type) {
  $size: 18px;
  $weight: normal;

  @if $type == '14px' {
    $size: 14px;
  } @elseif $type == '14px bold' {
    $size: 14px;
    $weight: bold;
  } @elseif $type == '17px bold' {
    $size: 17px;
    $weight: bold;
  } @elseif $type == '18px' {
    $size: 18px;
  } @elseif $type == '18px bold' {
    $size: 18px;
    $weight: bold;
  } @elseif $type == '20px bold' {
    $size: 20px;
    $weight: bold;
  } @elseif $type == '22px' {
    $size: 22px;
  } @elseif $type == '22px bold' {
    $size: 22px;
    $weight: bold;
  } @elseif $type == '30px bold' {
    $size: 30px;
    $weight: bold;
  } @elseif $type == '36px bold' {
    $size: 36px;
    $weight: bold;
  } @elseif $type == '44px bold' {
    $size: 44px;
    $weight: bold;
  } @elseif $type == '66px bold' {
    $size: 66px;
    $weight: bold;
  } @elseif $type == '70px' {
    $size: 70px;
  } @else {
    @error $type; // font doesn't exists
  }

  font-size: $size;
  font-weight: $weight;
}

