@import 'colors';

.header {
  background-color: color('black');
  height: 115px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid color('grayLine');
}

.header__logo {
  width: 30px + 290px + 40px;
  height: 85px;
  border-right: 1px solid color('grayLine');
  padding-left: 30px;
  box-sizing: border-box;
}

.header__title {
  padding: 0 40px;
}

.header__title-text {
  line-height: 44px;
  font-size: 44px;
  font-weight: bold;
  text-decoration: none;
  color: color('white');
}

.header__title-city {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.header__title-city-icon {
  margin-right: 6px;
}

.header__title-city-select {
  margin-left: 4px;
}


.header__lang {
  width: 30px;
}

.header-menu {
  background-color: color('black');
  height: 40px;
  border-bottom: 1px solid color('grayLine');
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu__item {
  padding: 0 12.5px;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: color('white');
}
