@import 'main';
@import 'header/header';
@import 'header-menu/header-menu';
@import 'main-event/main-event';
@import 'main-event-list/main-event-list';
@import 'more-events/more-events';
@import 'main-text/main-text';
@import 'icons';

html, body {
  color: black;
  background-color: white;
  padding: 0;
  margin: 0;

  font: normal normal normal 14px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
