@import 'main';
@import 'header';
@import 'icons';

html, body {
  color: white;
  padding: 0;
  margin: 0;

  font: normal normal normal 14px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
