@import 'font';
@import 'icons';
@import 'main';

@import 'footer/footer';
@import 'header-menu/header-menu';

@import 'event-box-description/event-box-description';
@import 'header-banner/header-banner';
@import 'header/header';
@import 'afisha/afisha-event';
@import 'afisha-all-events/afisha-all-events';
@import 'afisha-archive/afisha-archive-header';
@import 'afisha-archive/afisha-archive-month';
@import 'afisha-day/afisha-day';
@import 'afisha-day/afisha-day-more';
@import 'afisha-guest-band/afisha-guest-band';
@import 'calendar-day/calendar-day';
@import 'main-albums/main-albums';
@import 'main-bands/main-bands';
@import 'main-box/main-box-big';
@import 'main-box/main-box-middle';
@import 'main-box/main-box-small';
@import 'main-calendar/main-calendar';
@import 'main-dance/main-dance';
@import 'main-event/main-event';
@import 'main-events/main-events';
@import 'main-fests/main-fests';
@import 'main-news/main-news';
@import 'main-places/main-places';
@import 'main-school/main-school';
@import 'main-text/main-text';
@import 'main-videos-row/main-videos-row';
@import 'more-button/more-button';
@import 'page-carousel-3/page-carousel-3';
@import 'page-title-intro/page-title-intro';
@import 'page-title/page-title';
@import 'tag-cloud/tag-cloud';
@import 'tickets/tickets';

html, body {
  color: black;
  background-color: white;
  padding: 0;
  margin: 0;

  font: normal normal normal 14px Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

textarea:focus, input:focus{
  outline: none;
}

form {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
