@import 'font';
@import 'icons';
@import 'main';

@import 'footer/footer';
@import 'header-menu/header-menu';
@import 'header/header';
@import 'header-banner/header-banner';
@import 'main-albums/main-albums';
@import 'main-bands/main-bands';
@import 'main-calendar/main-calendar';
@import 'main-dance/main-dance';
@import 'main-event-list/main-event-list';
@import 'main-event/main-event';
@import 'main-events/main-events';
@import 'main-fests/main-fests';
@import 'main-news/main-news';
@import 'main-places/main-places';
@import 'main-school/main-school';
@import 'main-text/main-text';
@import 'main-videos-row/main-videos-row';
@import 'more-button/more-button';
@import 'page-title/page-title';
@import 'page-title-intro/page-title-intro';
@import 'tag-cloud/tag-cloud';

html, body {
  color: black;
  background-color: white;
  padding: 0;
  margin: 0;

  font: normal normal normal 14px Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

textarea:focus, input:focus{
  outline: none;
}

form {
  margin: 0;
  padding: 0;
}
