.more-events {
  @include font('14px bold');
  text-transform: uppercase;
}

.more-events__text {
  color: color('black');
  text-decoration: none;
  display: flex;
  align-items: center;
}

.more-events__text_red {
  color: color('red');
}

.more-events__text-icon {
  background-color: color('red');
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
